*{
    margin:0;
    padding:0;
}
.photo_wall{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin: auto 180px;
    z-index: 999;
}
.wall_item{
    float:left;
}
.wall_item>img{
    width:100%;
}
.clear:after{
    content:"";
    clear:both;
}
.c1{
    background-color: rgba(0,0,0,.3);
}
.c2{
    background-color: rgba(255,255,255,.3);
}

body,html{
    width:100%;
    height:100%;
    overflow: hidden;
}

.all{
    width:100%;
    height:100%;
    background: url("../images/bg2.jpg") no-repeat center;
}


.pop{
    width:300px;
    height:80px;
    position: absolute;
    top:800px;
    /*background-color: #fc5b32;*/
}
.pop>img{
    width:200px;
}

.logo{
    width:213px;
    height:89px;
    background: url("../images/logo.png") no-repeat center;
    position: absolute;
    top:20px;
    left:30px;
}
.logo1{
    width:440px;
    height:192px;
    background: url("../images/logo1.png") no-repeat center;
    position: absolute;
    top:20px;
    right:10px;
}
.logo2{
    width:440px;
    height:192px;
    background: url("../images/logo2.png") no-repeat center;
    position: absolute;
    top:70%;
    right:10px;
}
.ewm{
    width: 230px;
    height: 230px;
    position: absolute;
    right: 116px;
    top: 35%;
    background: url(../images/ewm.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}